<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Imindevicelibrary"
        tools:targetApi="31" >
        <!--<activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity android:name=".ui.DeviceDataActivity"/>
        <activity android:name=".ui.DeviceInfoDisplayActivity"/>
        <activity android:name=".ui.OEMConfigActivity"  android:exported="true">
        </activity>
        <activity android:name=".ui.PeripheralActivity"/>
        <activity android:name=".ui.A13LibsApiActivity"/>
        <activity android:name=".ui.PsamApiActivity"/>
        <activity android:name=".ui.LightDeviceActivity"/>
        <activity android:name=".ui.A13LibsDeviceInfoActivity"/>
        <activity android:name=".ui.DisplaySettingsActivity"/>
        <activity android:name=".ui.UIControlActivity"/>
        <activity android:name=".ui.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>